In [1]:
people = {'david': {'age': 15,
                    'city': 'london',
                    'salary': 50000},
          'guillaume': {'age': 24,
                        'city': 'paris',
                        'salary': 80000},
          'mark': {'age': 46,
                   'city': 'berlin',
                   'salary': 30000},
          'jennifer': {'age': 29,
                       'city': 'paris',
                       'salary': 65000},
          'gulin': {'age': 42,
                    'city': 'istanbul',
                    'salary': 100000},
          'kimberley': {'age': 25,
                        'city': 'new york',
                        'salary': 20000},
          'michael': {'age': 31,
                      'city': 'stockholm',
                      'salary': 120000},
          'omar': {'age': 56,
                   'city': 'tunis',
                   'salary': 82000},
          'oliver': {'age': 29,
                     'city': 'munich',
                     'salary': 39000},
          }

In [2]:
dict(sorted(people.items(), key=lambda x: x[1]['age'], reverse=True))

{'omar': {'age': 56, 'city': 'tunis', 'salary': 82000},
 'mark': {'age': 46, 'city': 'berlin', 'salary': 30000},
 'gulin': {'age': 42, 'city': 'istanbul', 'salary': 100000},
 'michael': {'age': 31, 'city': 'stockholm', 'salary': 120000},
 'jennifer': {'age': 29, 'city': 'paris', 'salary': 65000},
 'oliver': {'age': 29, 'city': 'munich', 'salary': 39000},
 'kimberley': {'age': 25, 'city': 'new york', 'salary': 20000},
 'guillaume': {'age': 24, 'city': 'paris', 'salary': 80000},
 'david': {'age': 15, 'city': 'london', 'salary': 50000}}

In [3]:
dict(sorted(people.items(), key=lambda x: x[0], reverse=True))

{'omar': {'age': 56, 'city': 'tunis', 'salary': 82000},
 'oliver': {'age': 29, 'city': 'munich', 'salary': 39000},
 'michael': {'age': 31, 'city': 'stockholm', 'salary': 120000},
 'mark': {'age': 46, 'city': 'berlin', 'salary': 30000},
 'kimberley': {'age': 25, 'city': 'new york', 'salary': 20000},
 'jennifer': {'age': 29, 'city': 'paris', 'salary': 65000},
 'gulin': {'age': 42, 'city': 'istanbul', 'salary': 100000},
 'guillaume': {'age': 24, 'city': 'paris', 'salary': 80000},
 'david': {'age': 15, 'city': 'london', 'salary': 50000}}